alembic==1.6.2
click==7.1.1
fastapi==0.62.0
greenlet==1.1.0
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1
Mako==1.1.4
MarkupSafe==2.0.0
psycopg2==2.8.6
pydantic==1.7.3
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.15
starlette==0.13.6
uvicorn==0.11.7
uvloop==0.14.0
websockets==8.1
